header {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	height: 70px;
	background-color: #000;
	.wrap {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 980px;
		height: 100%;
		position: relative;
		.logo {
			display: block;
			width: 250px;
			position: absolute;
			left: 10px;
			top: 50%;
			height: 120px;
			transform: translateY(-50%);
			img {
				display: block;
				width: 100%;
				margin: 10px 0 0;
			}
		}
	}
}
