header {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	height: 50px;
	background-color: #000;
	position: relative;
	top: 0;
	left: 0;
	.wrap {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 980px;
		height: 100%;
		position: relative;
		.logo {
			display: block;
			width: 250px;
			position: absolute;
			img {
				display: block;
				width: 150px;
				height: 50px;
			}
		}
	}
}
